#нижеследующие строки меняют параметры принтера на оптимизированные при загрузке принтера
# из printer.cfg

[prtouch_v3]
samples: 2 #1 увеличил число образцов для определения Z-offset
samples_tolerance: 0.01 #0.5 допустимую ошибку определения Z-offset назначим 1 сотую вместо полумиллиметра
prth_msg_show: False #True спам в консоль от тензодатчика

[bed_mesh]
speed: 500 #100 ускоряем холостые перемещения при снятии карты стола

[box]
pre_cut_pos_y: 300 #200 исходная препозиция для резки филамента, 300 чтоб не ездил далеко от какосброса
cut_pos_y: 300 #200 позиция для резки филамента значение лучше ставить равным препозиции
safe_pos_x: 175 #225 ближе к зоне протирки на pei-пластие 175 ближе к какосбросу -точные координаты своего принтера смотрите двигая голову стрелками на экранчике(можно поставить напротив латунной щётки)
safe_pos_y: 348 #345 позаводу (350 делать нельзя т.к. точка иногда используется и при смене филамента)
clean_left_pos_y: 376 #378 по заводу  376 мой центр пружинки
clean_right_pos_x: 178 #160 по заводу. Правый край сопельной щётки (поставьте значение 162, если вы не устанавливали к штатной резиновой дополнительную латунную)

[extruder]
pressure_advance: 0.042
pressure_advance_smooth_time: 0.016 #0.038 милисек время рекации для pressure_advance, чем меньше тем больше нагрузка на операционную систему и экструдер, но короче участки срабатывания корректировки

#из printer_param.cfg
[custom_macro]
default_bed_temp: 70 #50 температура стола "по умолчанию" для картирования стола и зануления
default_extruder_temp: 230 #220 температура сопла "по умолчанию" для очистки сопла 


#вот это надо скопировать и цело вставить в конец gcode_macro.cfg потомучто без этого переопределения прошивка тупит сохраняя PID или карту стола запущенную из fluidd
[gcode_macro SAVE_CONFIG]
rename_existing: SAVE_CONFIG_BASE  # просто переопределяем оригинальную команду
gcode:
    action_respond_info("Nozzle heatpiderasting")
    SAVE_CONFIG_BASE               # Вызываем оригинальную встроенную команду
    {action_respond_info("Configuration saved, restarting...")}



# нижеследующие макросы после обновления прошивки придётся руками проверять на изменения в gcodemacro.cfg


[gcode_macro END_PRINT]
gcode:
  G92 E-.9
  END_PRINT_Z_SAFE
  BOX_NOZZLE_CLEAN
  G92 E-2.1
  BOX_GO_TO_EXTRUDE_POS 
  RESTORE_LIMITS
  END_PRINT_POINT #стол опускается до середины камеры
  ENABLE_PRESSURE_ADVANCE VALUE=1
  M400
  BOX_END #втягивание филамента
  BOX_END_PRINT #втягивание филамента
  Qmode_exit
  EXCLUDE_OBJECT_RESET
  PRINT_PREPARE_CLEAR
  M220 S100
  SET_VELOCITY_LIMIT ACCEL=5000 ACCEL_TO_DECEL=5000
  TURN_OFF_HEATERS
  M107 P1
  M107 P2
  BOX_GO_TO_EXTRUDE_POS #паркуемся в лоток
  WAIT_TEMP_START
  M106 P0 S127 F1
  M141 S0
  SET_PIN PIN=extruder_fan VALUE=0
  # SET_TEMPERATURE_FAN_SWITCH TEMPERATURE_FAN=chamber_fan VALUE=0
  NOZZLE_CLEANPARKING
  HEATBED_GETLOWZ_SAFE #опускаем стол до 300мм или ниже
  #BOX_NOZZLE_CLEAN #добавляем ещё одну очистку от натекшего пластика пока сопло остывало
  #BOX_GO_TO_EXTRUDE_POS #паркуемся в лоток

[gcode_macro END_PRINT_Z_SAFE]
gcode:
  {% if "xyz" in printer.toolhead.homed_axes %}
    {% set max_z = printer["gcode_macro PRINTER_PARAM"].max_z_position|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    G91
    {action_respond_info("END_PRINT_Z_SAFE act_z:%s, max_z:%s \n" % (act_z, max_z))}
    {% if act_z < (max_z - 5) %}
        {action_respond_info("END_PRINT_Z_SAFE G1 Z2.0 F1800 \n")}
        G1 Z2.0 F1800 #600
        BOX_GO_TO_EXTRUDE_POS
    {% endif %}
    G90
  {% else %}
    {action_respond_info("end print xyz_axes is NULL\n")}
  {% endif %}

  # Расчет и применение Z-offset на основе температуры если вышеизложенные корректировки не помогают
 #надо добавить строчку CALCULATE_Z_OFFSET T={EXTRUDER_TEMP} #в конец gcode macro STRT_PRINT ,что лежит в gcodemacro.cfg
[gcode_macro CALCULATE_Z_OFFSET]
description: Nozzle temperature based Z-offset
gcode:
    {% set plotnost_vstavki = 7 %} #оценка плотности посадки твердой вставки в медном уникорне при разогреве сопла, определяется эмпирически чем хуже состояние вставки тем меньше значение 10-0 (можно использовать и отрицательные, но это повод заменить сопло или проверить надежность креплений
    {% set T = params.T|default(0)|float %}
    # Если температура не передана или 0 - выходим
  {% if T == 0 %}
        RESPOND MSG="CALCULATE_Z_OFFSET: Temperature not provided, skipping"
  {% else %}
      # Рассчитываем удлинение по формуле ΔL = 0.006706 * (T - 140)
      {% set delta_L = 0.0006706 * (T - 140) - plotnost_vstavki * 0.001 %}
        
      # Округляем до 2х знаков после запятой
      {% set z_offset = delta_L | round(2) %}
        
      # Если значение положительное - применяем
      {% if z_offset > 0 %}
        SET_GCODE_OFFSET Z={z_offset} MOVE=1
        RESPOND MSG="Z-offset set to: {z_offset} mm (for: {T}°C)"
      {% else %}
        RESPOND MSG="Z-offset NOT changed: ({z_offset} mm) - negative or zero"
      {% endif %}
  {% endif %}


#нижеследующие макросы кастомные, которые я написал сам -с ними делать ничего не надо, можно просто использовать вызывая из консоли флюидд


[gcode_macro BED_MESH_80]
description: картирование стола с температурой 80"
gcode:
  M140 S80
  {% if 'PROBE_COUNT' in params|upper %}
    {% set get_count = ('PROBE_COUNT' + params.PROBE_COUNT) %}
  {%else %}
    {% set get_count = "" %}
  {% endif %}
  {% set extruder_temp = printer.custom_macro.g28_ext_temp %}
  {% set nozzle_clear_temp = printer.custom_macro.default_extruder_temp %}
  {% if 'EXTRUDER_TEMP' in params|upper %}
    {% set nozzle_clear_temp = params.EXTRUDER_TEMP %}
  {% endif %}
  {% set enabled = printer["filament_switch_sensor filament_sensor"].enabled %}
  {% if enabled %}
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0
  {% endif %}
  M104 S{extruder_temp}
  {% if "xy" not in printer.toolhead.homed_axes %}
    G28 X Y
  {% endif %}
# Здесь для возврата в исходное положение необходимо опустить ось Z. После этой фотоэлектрической нивелировки корректировки, записанные в предыдущей операции Z_TILT_ADJUST, не будут восстановлены.
# Каждый раз при выполнении нивелирования необходимо повторно выполнять операцию Z_TILT_ADJUST для получения новых корректировок.
# Если флаг установлен в значение ZDOWN, корректировки, записанные в предыдущей операции Z_TILT_ADJUST, не будут восстановлены.
  SET_G29_FLAG VALUE=1
  G28 Z
  BED_MESH_CLEAR
  NOZZLE_CLEAR
  M104 S{extruder_temp}
  M190 S80
  M109 S{extruder_temp}
  # После тщательной очистки сопла выполняется фотоэлектрическое выравнивание для получения максимального значения высоты по оси Z.
  ZDOWN_SWITCH ENABLE=1
  G28 Z
  BED_MESH_CLEAR
  Z_TILT_ADJUST WAITTIME=5
  NEXT_HOMEZ_NACCU
  G28 Z
  SET_G29_FLAG VALUE=0

  M204 S5000
  SET_VELOCITY_LIMIT ACCEL_TO_DECEL=5000
  BED_MESH_CALIBRATE {get_count}
  G1 Z175 F1200
  BOX_MOVE_TO_SAFE_POS
  CXSAVE_CONFIG
  TURN_OFF_HEATERS
  {% if enabled %}
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1
  {% endif %}


[gcode_macro BED_MESH_100]
description: картирование стола с температурой 100"
gcode:
  M140 S100
  {% if 'PROBE_COUNT' in params|upper %}
    {% set get_count = ('PROBE_COUNT' + params.PROBE_COUNT) %}
  {%else %}
    {% set get_count = "" %}
  {% endif %}
  {% set extruder_temp = printer.custom_macro.g28_ext_temp %}
  {% set nozzle_clear_temp = printer.custom_macro.default_extruder_temp %}
  {% if 'EXTRUDER_TEMP' in params|upper %}
    {% set nozzle_clear_temp = params.EXTRUDER_TEMP %}
  {% endif %}
  {% set enabled = printer["filament_switch_sensor filament_sensor"].enabled %}
  {% if enabled %}
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0
  {% endif %}
  M104 S{extruder_temp}
  {% if "xy" not in printer.toolhead.homed_axes %}
    G28 X Y
  {% endif %}
# Здесь для возврата в исходное положение необходимо опустить ось Z. После этой фотоэлектрической нивелировки корректировки, записанные в предыдущей операции Z_TILT_ADJUST, не будут восстановлены.
# Каждый раз при выполнении нивелирования необходимо повторно выполнять операцию Z_TILT_ADJUST для получения новых корректировок.
# Если флаг установлен в значение ZDOWN, корректировки, записанные в предыдущей операции Z_TILT_ADJUST, не будут восстановлены.
  SET_G29_FLAG VALUE=1
  G28 Z
  BED_MESH_CLEAR
  NOZZLE_CLEAR
  M104 S{extruder_temp}
  M190 S100
  M109 S{extruder_temp}
  # После тщательной очистки сопла выполняется фотоэлектрическое выравнивание для получения максимального значения высоты по оси Z.
  ZDOWN_SWITCH ENABLE=1
  G28 Z
  BED_MESH_CLEAR
  Z_TILT_ADJUST WAITTIME=5
  NEXT_HOMEZ_NACCU
  G28 Z
  SET_G29_FLAG VALUE=0

  M204 S5000
  SET_VELOCITY_LIMIT ACCEL_TO_DECEL=5000
  BED_MESH_CALIBRATE {get_count}
  G1 Z175 F1200
  BOX_MOVE_TO_SAFE_POS
  CXSAVE_CONFIG
  TURN_OFF_HEATERS
  {% if enabled %}
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1
  {% endif %}

[gcode_macro NOZZLE_PID_300]
description: PID хотенда для 300"
gcode:
  {action_respond_info("Nozzle heatpider...")}
  SET_PIN PIN=fan0 VALUE=255
  PID_CALIBRATE HEATER=extruder TARGET=300 #230 (выставьте ту температуру на которой чаще печатаете)
  SAVE_CONFIG
  SET_PIN PIN=fan0 VALUE=0


[gcode_macro NOZZLE_PID_280]
description: PID хотенда для 280"
gcode:
  {action_respond_info("Nozzle heatpider...")}
  SET_PIN PIN=fan0 VALUE=255
  PID_CALIBRATE HEATER=extruder TARGET=280 #230 (выставьте ту температуру на которой чаще печатаете)
  SAVE_CONFIG
  SET_PIN PIN=fan0 VALUE=0

[gcode_macro NOZZLE_PID_260]
description: PID хотенда для 260"
gcode:
  {action_respond_info("Nozzle heatpider...")}
  SET_PIN PIN=fan0 VALUE=255
  PID_CALIBRATE HEATER=extruder TARGET=260 #230 (выставьте ту температуру на которой чаще печатаете)
  SAVE_CONFIG
  SET_PIN PIN=fan0 VALUE=0

[gcode_macro HEATBED_GETLOWZ_SAFE]
description: Опускание стола в зависимости от текущей его высоты
gcode:
    {% set current_z = printer.toolhead.position.z %}
    
    # Если сопло ниже 298 мм - поднимаем до 300 мм
    {% if current_z < 298 %}
        G90                    # Абсолютный режим
        G1 Z300 F1800          # Подъем до 300 мм со скоростью 1800 мм/мин
    
    # Если сопло от 298 до 345 мм - поднимаем на 5 мм
    {% elif current_z < 345 %}
        G91                    # Относительный режим
        G1 Z5 F1800            # Подъем на 5 мм
        G90                    # Возврат в абсолютный режим
    
    # Если сопло от 345 до 350 мм - поднимаем на 1 мм
    {% elif current_z < 350 %}
        G91                    # Относительный режим
        G1 Z1 F1800            # Подъем на 1 мм
        G90                    # Возврат в абсолютный режим
    
    # Если сопло >= 350 мм - ничего не делаем
    {% else %}
        # Ничего не делаем
    {% endif %}


[gcode_macro NOZZLE_CLEANPARKING]
description: почистить сопло и запарковать на пластинку
gcode:
    BOX_NOZZLE_CLEAN #пошоркать соплом о щётку
    BOX_GO_TO_EXTRUDE_POS #паркуемся в лоток
    G1 X151 F3000 #заезжаем на пластинку, чтоб пластик не стекал


#нижеследующий код можно удалить если Вы не настраивали публикацию конфигов на GitHub
[gcode_macro OVERIDESBACKUP]
description: выгрузить конфиги на Гитхаб
gcode:
    {action_respond_info("Starting backup of selected config files to GitHub...")}
    RUN_SHELL_COMMAND CMD=myoverridesbackup
    {action_respond_info("Config files saved to GitHub successfully!")}

[gcode_shell_command myoverridesbackup]
command: /bin/ash /mnt/UDISK/printer_data/config/myoverridesbackup.sh
timeout: 30.
verbose: True